html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body
{background-image: url(Ball.JPG);
background-position: center;
background-size: cover;}


}
.header{
    
}