html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body
{background-image: url(Ball.JPG);
background-position: center;}

.title{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.first-row
{display: flex;
font-size: 5rem;
justify-content: space-around; }

.first-box
{   height: 28%;
    width: 28%;
    padding: 30px 30px;
    border: 2rem solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;} 


.second-box
{   height: 28%;
    width: 28%;
    padding: 30px 30px;
    border: 2rem solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;}


.third-box
{   height: 28%;
    width: 28%;
    padding: 30px 30px;
    border: 2rem solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;}

.second-row
{display: flex;
    font-size: 5rem;
    justify-content: space-around;}
.fourth-box
{   height: 28%;
    width: 28%;
    padding: 30px 30px;
    border: 2rem solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;} 
    
.fifth-box
{   height: 28%;
    width: 28%;
    padding: 30px 30px;
    border: 2rem solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;} 
    
.sixth-box
{   height: 28%;
    width: 28%;
    padding: 30px 30px;
    border: 2rem solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;} 



