html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body
{background-image: url(Ball.JPG);
background-position: center;}




.title{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.boxes
{display: flex;
font-size: 5rem;}

.box1
{   
}



